h1 {
  color: maroon;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  font-family: serif;
  font-size: 60px;
  line-height: 40px;
}

h2 {
  color: brown;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-family: serif;
  font-size: 40px;
  line-height: 30px;
}

p1 {
  color: grey;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  font-family: cursive;
  font-size: small;
  line-height: normal;
}

ol {
  color: brown;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-family: serif;
  font-size: 30px;
  line-height: 40px;
}
